* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 12px;
  margin: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
  overflow-x: hidden;
  background: linear-gradient(45deg, #3c45ff, transparent);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 700px) {
  body {
    padding: 20px;
  }
}

body.loading {
  overflow-y: hidden;
  backdrop-filter: blur(30px);
}

[data-celsius] {
  display: flex;
  justify-content: center;
  gap: 2px;
}

span.temp-unit {
  font-size: 0.75em;
  margin-top: -3px;
}

.weather-by-hour__heading,
.next-5-days__heading {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .weather-by-hour__heading,
  .next-5-days__heading {
    font-size: 1.125em;
  }
}

.notification {
  position: fixed;
  top: 1.5rem;
  right: 0;
  padding: 0.5rem;
  padding-left: 1rem;
  background: linear-gradient(
    45deg,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
  border-radius: 6px;
  min-width: 250px;
  max-width: 90%;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: 0.2s all ease-in-out;
}

@media (min-width: 450px) {
  .notification {
    min-width: 250px;
    max-width: 350px;
  }
}

.notification.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-1.5rem);
}

.notification.danger {
  background: linear-gradient(45deg, hsl(349deg 86% 50%) 0%, #ed14a8);
}

.notification__title {
  margin: 0.25rem 0;
  font-weight: bold;
}

.notification__close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-grid;
  place-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s linear;
}

body.loading .loader {
  opacity: 1;
  visibility: visible;
}

.loader .spin {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 6px solid rgb(20, 136, 204);
  border-top-color: transparent;
  animation: spinner 1.5s infinite linear;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 920px) {
  .main-container {
    width: 880px;
    margin: 10px auto;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1200px) {
  .main-container {
    width: 1000px;
  }
}

body.loading .main-container {
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* location-and-date */
.location-and-date {
  margin-bottom: 1.5rem;
}

.location-and-date__location {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}

.location-and-date__location > img {
  width: 18px;
  margin-left: 4px;
}

.location-and-date__time {
  font-size: 1rem;
  cursor: pointer;
}

.app-temp-unit {
  display: flex;
  gap: 7px;
  align-items: center;
}

.header .switch-wrapper {
  position: relative;
  width: 66px;
  height: 26px;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
}

.switch-wrapper .switch-input {
  position: relative;
  z-index: 1;
  margin: 0;
  appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch-wrapper .switch-button {
  position: absolute;
  left: 4px;
  top: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 0;
  background: #666;
  transition: all 0.2s ease-in-out;
}

.switch-input:checked + .switch-button {
  left: calc(100% - (22px + 4px));
  background: linear-gradient(135deg, #3c45ff, transparent);
}

@media (max-width: 450px) {
  .header {
    flex-direction: column-reverse;
  }
  .header .search-location {
    width: 100%;
    margin-bottom: 15px;
  }
}

.header .search-location .form-control {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.serach-box {
  position: relative;
  width: 300px;
}

@media (max-width: 500px) {
  .serach-box {
    width: 100%;
  }
}

.prev-search {
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  width: 100%;
  border-radius: 4px;
  color: #000;
  font-size: 17px;
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out height;
}

@media (max-width: 499px) {
  .prev-search {
    top: 100%;
  }
}

.prev-search p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.prev-search .prev-search_location {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.1s ease-in-out;
}

.prev-search .prev-search_location:hover {
  background-color: rgba(255, 255, 255, 1);
}

.prev-search .prev-search_location:last-child {
  margin-bottom: 0;
}

.prev-search_location img {
  width: 55px;
}
.prev-search_location div:first-of-type {
  flex: 1;
}
.prev-search_location div:last-of-type {
  flex-basis: 40px;
  align-self: stretch;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
  transition: 0.2s ease-in-out;
}
.prev-search_location div:last-of-type:hover {
  color: crimson;
}

.search-location .form-control .search-icon {
  position: absolute;
  width: 18px;
  top: 50%;
  right: 14px;
  pointer-events: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-location .form-control input {
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  background: none;
  outline: none;
  padding: 7px 18px;
  background-color: #fff;
  transition: width 0.3s;
}

.search-location input:focus .form-control {
  width: auto;
}

.search-location .form-control input::placeholder {
  font-size: 14px;
  font-family: inherit;
}

.current {
  display: flex;
  flex-wrap: wrap;
}

/* current-temperature */
.current-temperature {
  display: flex;
  margin-top: 0.25em;
  width: 100%;
}

.current-temperature__icon-container {
  flex-grow: 1.25;
  text-align: center;
}

.current-temperature__content-container {
  flex-grow: 1;
  text-align: center;
}

.current-temperature__icon {
  width: 10.5em;
}

.current-temperature__value {
  font-size: 5.25em;
  font-weight: 300;
}

.current-temperature__value .temp-unit {
  font-size: 40px;
  margin-top: 6px;
}

.current-temperature__summary {
  margin-top: -0.5em;
  margin-left: -0.6em;
  text-align: center;
  font-size: 1.125em;
}

/* current-stats */
.current-stats {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 700px) {
  .current-stats {
    margin-bottom: 1em;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.current-stats > div {
  text-align: center;
}

.current-stats__value {
  margin-top: 1em;
  font-size: 1.44em;
}

.current-stats__label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

@media screen and (min-width: 700px) {
  .current-temperature,
  .current-stats {
    width: 50%;
  }
}

/* weather-by-hour */
.weather-by-hour {
  width: 100%;
}

@media (max-width: 700px) {
  .weather-by-hour {
    margin-top: 1rem;
  }
}

.weather-by-hour__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.weather-by-hour__item {
  width: calc((100% / 2) - 10px); /* 10px == gap */
  padding: 0.8em 0;
  border-radius: 5px;
  font-size: 1.125em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in-out;
}

.weather-by-hour__item:hover {
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 700px) {
  .weather-by-hour__item {
    flex: 1;
  }
}

.weather-by-hour__item img {
  width: 54px;
}

.weather-by-hour__hour {
  margin-bottom: 0.5em;
}

/* next-5-days */
.next-5-days {
  width: 100%;
  margin-top: 1em;
}

.next-5-days__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.3em;
  padding: 0.8em 0;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.19em;
  text-align: center;
}

.next-5-days__label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.83em;
}

.next-5-days__date,
.next-5-days__high,
.next-5-days__low,
.next-5-days__icon,
.next-5-days__rain,
.next-5-days__wind {
  width: 33.33333%;
  font-size: 0.95em;
}

.next-5-days__date,
.next-5-days__high,
.next-5-days__low {
  margin-bottom: 0.6em;
}

.next-5-days__icon img {
  width: 70px;
}
@media screen and (min-width: 450px) {
  .next-5-days__date,
  .next-5-days__high,
  .next-5-days__low,
  .next-5-days__icon,
  .next-5-days__rain,
  .next-5-days__wind {
    width: 16.666666%;
    margin-bottom: initial;
  }

  .next-5-days__date {
    order: -2;
  }

  .next-5-days__icon {
    order: -1;
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
